.MenuSurface{
    background-color: #fff;
    flex-direction: column-reverse;
    position: fixed;
    top: 10vh;
    left: 1vw;
    height: 50vh;
    width: 15vw;
    text-align: center;
    align-items: center;
    justify-items: center;
    box-shadow: 2px 2px 2px 2px #898989;
}

.MenuItem{

    align-self: flex-start;
    justify-self: flex-start;
}