.MenuSurface{
    background-color: #fff;
    flex-direction: column-reverse;
    position: fixed;
    top: 10vh;
    left: 1vw;
    height: 50vh;
    width: 15vw;
    text-align: center;
    align-items: center;
    justify-items: center;
    box-shadow: 2px 2px 2px 2px #898989;
}

.MenuItem{

    height: 20%;
    width: 80%;

    font-size: 20;
    font-weight: bold;

    align-items: center;
    justify-items: center;
    box-shadow: 2px 2px 2px 2px #898989;
}