.MenuSurface{
    background-color: #fff;
    flex-direction: column-reverse;
    display: flex;
    position: fixed;
    top: 0vh;
    left: 1vw;
    height: 5vh;
    width: 98vw;
    text-align: center;
    align-items: flex-start;
    justify-items: center;
    padding-left: 1%;
}

.LogOut{
    position: absolute;
    
    right: 1vw;

}