.Surface{

    background-color: white;
    position: fixed;

    bottom: 15vh;
    right: 20vw;

    width: 60vw;
    height: 70vh;


}

.Row{
    width: 100%;
    height: 20%;
}

.RowInput{

    max-width: 40%;
    height: 10%;

}

.FirstNameInput{

    position: absolute;

    left: 5%;
    top: 15%;

}

.LastNameInput{

    position: absolute;

    right: 5%;
    top: 15%;
}

.LastName{
    position: absolute;

    left: 55%;
    top: 11%;
}

.FirstName{
    position: absolute;

    left: 5%;
    top: 11%;
}

.UsernameInput{

    position:absolute;

    left: 5%;
    top: 40%;
}

.Username{
    position: absolute;

    left: 5%;
    top: 36%;
}

.EmailInput{
    position: absolute;

    right: 5%;
    top: 40%;
}

.Email{
    position: absolute;

    left: 55%;
    top: 36%;
}

.PasswordInput{
    position: absolute;

    left: 5%;
    top: 65%;
}

.Password{
    position: absolute;

    left: 5%;
    top: 61%
}

.ConfirmInput{
    position: absolute;

    right: 5%;
    top: 65%;
}

.Confirm{
    position: absolute;

    left: 55%;
    top: 61%;
}

.RegisterBtn{
    position: absolute;

    bottom: 5%;
    left: 20%;

    width: 60%;
    height: 10%;

    font-size: 20;
    font-weight: bold;
}