.RuleSurface{
    display: flex;
    background-color: #fff;

    position: fixed;
    right: 10vw;
    bottom: 10vh;

    width: 80vw;
    height: 80vh;

    border-width: 0px;

        
}

.InputDiv{
    display: flex;

    flex-direction: column;
    min-width: 50%;
    min-height: 100%;

    
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.CoefficientInput{
    max-width: 100%;
    min-height: 50%;
    margin-right: 1%;
    
}

.ActiveInputBtn{
    min-width: 20%;
    min-height: 10%;

    margin-top: 1%;
    margin-bottom: 1%;

    
}

.ActivableDiv{
    display: flex;

    flex-direction: row;

    flex-grow: 0;
    flex-wrap: wrap;

    max-width: 60%;

    max-height: 60%;

    margin-top: 1%;
}

.InputRow{
    display: flex;

    margin-top: 2%;

    min-width: 100%;
    max-height: 20%;

    
    align-content: center;
    justify-content: center;
    flex-direction: row;
    
}

.LastRow{
    display: flex;
    min-width: 100%;
    min-height: 20%;

    justify-content: center;
    align-items: center;

    flex-direction: row;

    padding: 1%;
}


.SaveButton{
    min-width: 10%;

    min-height: 10%;

}

.TryButton{
    min-width: 10%;

    min-height: 10%;
}

.Message{
    font-size: 16px;
    font-weight: bold;

    margin-left: 28.5%;

    align-self: flex-end;
    justify-self: flex-end;
}

.ErrorMessage{
    font-size: 16px;
    font-weight: bold;
    color: #ff0000;

    margin-left: 28.5%;

    align-self: flex-end;
    justify-self: flex-end;
}

.ActualRules{
    font-size: 30px;
    font-weight: bolder;

    position: fixed;
    left: 47%
}

.TryValues{
    font-size: 30px;
    font-weight: bolder;

    position: fixed;
    top: 49%;
    left: 48%
}