.PagRowTransactions{
    display: flex;
    flex-direction: row;

    min-width: 100%;
    
    align-content: flex-end;
    justify-content: space-between;
    height: 5%;
    margin: 0%;
}

.TableDiv{
    height: 80%;
    margin-top: 1%;
}

.TransactionsPagBtn{
    width: 5%;
    margin-bottom: 0.25%;
}

.ResultsBoxTransactions{
    position: absolute;

    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;

    justify-content: center;

    border-width: 0px;

    bottom: 1%;
    left: 1%;
    height: 90%;
    width: 98%;
}

.IDColumn{
   width: 25%
}