.UserCardSurface{
    display: flex;
    
    min-width: 60%;

    align-items: center;
    justify-content: center;

    flex-direction: column;
    
}

.CloseButtonDiv{
    display: flex;

    margin: 2%;

    flex-direction: row;

    height: 100%;
    width: 100%;
}

.UserTittle{
    display: flex;

    margin-left: 12.5%;
}

.UserInfoDiv{
    display: flex;

    min-width: 90%;
    flex-direction: column;
}

.CardShadow{

    display: flex;

    margin: 1%;
    padding: 2;
    border-color: black;

    border-radius: 50;
    box-shadow: 2px 2px 2px 2px #898989;

}

.ModHead{
    display: flex;

    font-weight: bold;
    font-size: 20px;
    justify-content: center;
}
